@page "/clientes/editar/{ClienteId:int}"
@inject NavigationManager navigationManager
@inject IHttpService http

<h2>Modificar Cliente</h2>
<ClienteFormulario onValidSubmit="GrabarModificacion" Cliente=" cliente" onCancel=" Cancelar" />

@code {
    private Cliente cliente;
    [Parameter] public int ClienteId { get; set; }


    protected async override Task OnInitializedAsync()
    {
        await MostrarPais();
    }
    private async Task MostrarPais()
    {
        var httpRespuesta = await http.Get<Cliente>($"api/clientes/{ClienteId} ");
        if (httpRespuesta.Error)
        {
            var body = await httpRespuesta.GetBody();
        }
        else
        {
            cliente = httpRespuesta.Respuesta;
        }
    }
    private async Task GrabarModificacion()
    {

        var httpRespuesta = await http.Put<Cliente>($"api/clientes/{ClienteId}", cliente);
        if (httpRespuesta.Error)
        {
            var body = await httpRespuesta.GetBody();
        }
        
        navigationManager.NavigateTo("/clientes");
    }
    private  void Cancelar()
    {
        navigationManager.NavigateTo("/clientes");
    }
}
