@page "/clientes/crear"
@inject NavigationManager navigationManager
@inject IHttpService http

<h2>Nuevo Cliente </h2>
<ClienteFormulario onValidSubmit="GrabarNuevo" Cliente=" cliente" onCancel=" Cancelar" />
@code {
    private Cliente cliente = new();

    private async Task GrabarNuevo()
    {
        var httpRespuesta = await http.Post<Cliente>("api/clientes",cliente);
        if (httpRespuesta.Error)
        {
            var body = await httpRespuesta.GetBody();
        }
        navigationManager.NavigateTo("/clientes");
    }
    private void Cancelar()
    {
        navigationManager.NavigateTo("/clientes");
    }
}
