@page "/clientes"
@inject IHttpService http


<h3>Clientes</h3>
<br />
<br />
<a class="btn btn-primary" href="clientes/crear">Nuevo</a>
<br />
<br />
<table>
    <tr>
        <th>Nombre</th>
        <th>Telefono</th>
    </tr>
    @if (clientes.Count == 0)
    {
        <tr>No hay Clientes</tr>
    }
    else
    {
        @foreach (var item in clientes)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.Apellido</td>
                <td>@item.Telefono</td>
                <td>
                    <a class="btn btn-success"
                       href="clientes/editar/@item.Id ">Editar </a>
                </td>
                <td><button class="btn btn-warning" @onclick="()=>Eliminar(item)">Eliminarr</button></td>

            </tr>
        }
    }

</table>

<Confirmacion @ref="confirmacion"
              onConfirm="GrabarEliminar"
              onCancel="Cancelar"
              Titulo="BORRAR"
              textCancelar="No"
              textOk="SI">
    <div>¿Desea eliminar el Cliente @eliminarCliente.Nombre?</div>
</Confirmacion>




@code {
    List<ApiTurnero.WebApi.Comunes.Data.Entidades.Cliente> clientes = new List<Comunes.Data.Entidades.Cliente>();
    Confirmacion confirmacion;
    ApiTurnero.WebApi.Comunes.Data.Entidades.Cliente eliminarCliente;

    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
        await Leer();

    }

    private async Task Leer()
    {
        var respuestaHttp = await http.Get<List<ApiTurnero.WebApi.Comunes.Data.Entidades.Cliente>>("api/clientes");
        if (!respuestaHttp.Error)
        {
            clientes = respuestaHttp.Respuesta;
        }
    }

    private void Cancelar()
    {
        confirmacion.Ocultar();
        eliminarCliente = null;


    }


    private void Eliminar(ApiTurnero.WebApi.Comunes.Data.Entidades.Cliente clienteEliminar)
    {

        confirmacion.Mostrar();
        eliminarCliente = clienteEliminar;

    }

    private async Task GrabarEliminar()
    {

        var respuesta = await http.Delet($"api/clientes/{eliminarCliente.Id}");
        if (respuesta.Error)
        {
            var body = await respuesta.GetBody();
        }
        Cancelar();
        await Leer();
    }



}


